<configuration>
    <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="com.renaissancerentals" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
