<configuration>

    <springProperty scope="context" name="lokiUrl" source="logging.loki.url"/>
    <springProperty scope="context" name="appName" source="logging.loki.app-name"/>
    <springProperty scope="context" name="environment" source="logging.loki.environment"/>
    <springProperty scope="context" name="username" source="logging.loki.username"/>
    <springProperty scope="context" name="password" source="logging.loki.password"/>

    <!-- Loki Appender -->
    <appender name="LOKI" class="com.contentmunch.foundation.logging.LokiAppender">
        <lokiUrl>${lokiUrl}</lokiUrl>
        <appName>${appName}</appName>
        <environment>${environment}</environment>
        <username>${username}</username>
        <password>${password}</password>
    </appender>

    <!-- Plain Text Appender -->
    <appender name="PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} [traceId:%X{traceId:-}, spanId:%X{spanId:-}] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="PLAIN"/>
    </root>

    <logger name="com.contentmunch" level="DEBUG"/>
    <springProfile name="loki-logging">
        <root level="INFO">
            <appender-ref ref="LOKI"/>
            <appender-ref ref="PLAIN"/>
        </root>
    </springProfile>

    <springProfile name="!loki-logging">
        <root level="INFO">
            <appender-ref ref="PLAIN"/>
        </root>
    </springProfile>

    <logger name="LOKI_FALLBACK" level="WARN" additivity="false">
        <appender-ref ref="PLAIN"/>
    </logger>

</configuration>
